
body {
    background-color: rgb(201, 226, 241);
    color: rgb(29, 22, 228);
    font-family: 'Nothing You Could Do', cursive;

}
.row {
  display: flex;
 justify-content: center;
  font-size: 15px;
  text-align: center;
  color: white;

}
h1 {
    text-align: center;
    font-size: 35px;
}
h1:hover {
    background: yellow;

}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.cell:hover {
    background-color: rgb(43, 189, 226);
}

#btn {
    color:rgb(31, 66, 221);
    background-color: aqua;
    border: 4px double blue;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: -20px;
}

#btn:hover {
    background-color: yellow;
    color: rgb(53, 66, 209);


}