
body {
    background-color: rgb(201, 226, 241);
    color: rgb(29, 22, 228);
    font-family: 'Nothing You Could Do', cursive;

}
.row {
  display: flex;
 justify-content: center;
  font-size: 15px;
  text-align: center;
  color: rgb(182, 21, 21);

}
h1 {
    text-align: center;
    font-size: 35px;
}
h1:hover {
    background: yellow;

}
.cell {
  width: 20px;
  height: 20px;
  border: .5px solid black;
  display: inline-block;
  transition: ease 300s all;

  }
.cell:hover {
    background: rgb(162, 245, 53);
    transition: ease 0.001s all;
}


#btn {
    color:rgb(31, 66, 221);
    background-color: rgb(162, 245, 53);
    border: 4px double blue;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: -20px;
}

#btn:hover {
    background-color: yellow;
    color: rgb(53, 66, 209);


}